[flake8]
exclude =
    .git
    .pytest_cache
    build
    docs
    dist
    tests
    venv
ignore = E501, W503, E226, D100, D104
max-line-length = 79
docstring_style=numpy
docstring-convention=numpy
